<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios.</h1>

<ul class="list-group">
  <% @usuarios.each do |u| %>
    <li class="list-group-item">
      <h4>Nombre: </h4> <%=u.nombre %> <br>
      <h4>Email: </h4> <%=u.email %> <br>
      <%if !u.tipo  %>
        <%= link_to 'Eliminar usuario', u, method: :delete, data: { confirm: '¿Estás seguro?' },class: "btn btn-danger" %>
      <% end %>
    </li>
  <% end %>
</ul>
