<% provide(:title, 'Comentarios') %>
<h1>Listado de todos los comentarios</h1>



<ul class="list-group">
  <% @comentarios.each do |com| %>
	<li class="list-group-item">
  		<h4><%=com.nombre %>: </h4>
  		<%= com.comentario%> <br>
  		<h5><%=com.email %> </h5>
  		<%= link_to "eliminar comentario", :controller=>"home", :action=>"eliminar", class: "btn btn-sm btn-danger",:id=> com.id%>	
	</li>
  <% end %>

</ul>