<h1>
	Acerca de nosotros.
</h1>
<h3>
Esta es una página en donde los usuarios pueden ver los eventos más destacados de su equipo de la liga MX favorito. Estos eventos incluyen: entrenamientos, partidos de liga y otras competiciones, firmas de autógrafos,entre otros.
</h3>
<h3>Los usuarios pueden opinar acerca de un evento o incluso subir fotografías alusivas a él.
</h3>
<h3>
	¡Este es un sitio para fanáticos de verdad!
</h3>
